@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  /* background-color: black; */
  font-family: "Inter", sans-serif;
}
.App {
  text-align: center;
}

.calculator {
  height: 580px;
  width: 350px;
  /* background-color: #497174; */
  background-color: black;
  margin: 10% auto 0;
  border-radius: 20px;
}

.screen {
  position: relative;
  top: 20px;
  height: 110px;
  width: 300px;
  margin: 10px auto 0px;
  border-radius: 20px;
  background-color: black;
  color: honeydew;
  text-align: right;
}

p {
  padding-right: 13px;
}

.ans {
  position: absolute;
  bottom: -50px;
  right: -4px;
  font-size: 50px;
}

.buttons {
  margin: 0 -10px 0;
  height: 70px;
  padding-left: 25px;
  padding-top: 40px;
}

.buttons1 {
  margin: 0 -10px;
  height: 70px;
  padding-left: 25px;
  padding-top: 15px;
}

.ac,
.plus-minus,
.div,
.percent,
.seven,
.eight,
.nine,
.mul,
.four,
.five,
.six,
.one,
.two,
.three,
.sub,
.add,
.zero,
.dot,
.equal {
  float: left;
  margin: 0 5px;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: #eaeaea;
}

.div,
.mul,
.sub,
.equal,
.add {
  background-color: #ffb200;
  color: white;
}

.ac,
.plus-minus,
.percent {
  /* background-color: #444444;
  color: white; */
  background-color: #b2b2b2;
}
.seven,
.eight,
.nine,
.four,
.five,
.six,
.one,
.two,
.three,
.dot,
.zero {
  /* background-color: #b2b2b2; */
  background-color: #444444;
  color: white;
}

.zero {
  border-radius: 50px;
  /* border-top-left-radius: 50%; */
  width: 149px;
  height: 70px;
}
